<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- searchBox -->
        <shared-search-box
            placeholder="Ingrese término de Búsqueda"
            [initialValue]="initialValue"
            (searchTerm)="searchByCapital($event)"
        ></shared-search-box>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <!-- Table Results -->
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table
          [countries]="countries"
        ></countries-table>
    </div>
</div>
